@font-face {
  font-family: "Zilla Slab";
  src:url("")
}


.text-center {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-size: 5vw;
  margin: 1w;
  font-weight: lighter;
}
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  overflow: scroll;
  background: #ccceb3;
}
#test_status {
  text-align: center;
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: lighter;

}

#test{
  font-weight: lighter;
}

.questions {
  margin-left: 26%;
  width: 50%;
  margin-top: 1vw;
  margin-bottom: 0;
  font-size: 2vw;
  font-weight: lighter;
}

.button {
  text-align: center;
}

.btn {
  border: #bdbbbb 2px solid;
  background-color: #bdbbbb;
  border-radius: 5px;
  color: #ffffff;
  cursor:pointer;
  font-size: 2vw;
  text-align: center;
  padding: 1vw 4vw;
  font-weight: lighter;
}

.btn:hover {
  background-color: #bdbbbb;
  color: white;
}

#print_results {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0vw;
}

#results_paragraph {
  text-align: center;
  margin-top: 1vw;
  overflow: auto;
}

#nextButton {
  visibility: hidden;
  border: #bdbbbb 2px solid;
  background-color: #bdbbbb;
  color: #ffffff;
  font-size: 2vw;
  text-align: center;
  cursor:pointer;
  /*margin-top: 2.5vw;*/
  padding: 1vw 4vw;
  margin-left: 60%;
  margin-top: 0;
  margin-bottom: 10%;
  font-weight: lighter;
}

#nextButton:hover {
  background-color: #bdbbbb;
  color: white;
}

#results_paragraph {
  max-width: 70%;
  text-align: center;
  margin:auto;
}

.results {
  background-color: #FFEB94;
  text-align: center;
}

.results .resources {
  text-align: center;
  overflow: auto;
}
.container {
  overflow: auto;
  height:100%;
  width:auto;
}

#print_results {
  font-size: 6vw;
  background-color: #FFEB94;
  padding-top: 2vw;
  margin-bottom: 0;
}

#results_paragraph {
  background-color: #FFEB94;
  margin-left: 12vw;
  overflow: auto;
  margin: 2vw;
}

#hehe {
  background-color: #C1E1DC;
  font-size: 4vw;
  /*overflow: auto;*/
  margin-left: 1vw;
  margin-right: 1vw;

}
.navbar button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 0vw;
    width: 11vw;
    max-height: 40;
    float: none;
    height: auto;
    font-size: 5vw;
}
a {
  color: black;
}
i:hover{
    color: #C1E1DC;
}

#nextQ{
  visibility: hidden;
}

#correctAnswer{
  color: #000000;
}

p{
  display: inline;
}

q{
  background-color: #ffffff;
}